
body { margin: 0; padding: 0; background-color: #EAECEE;}
table { width: 100%; background-color: #808B96;	}
tbody:nth-child(odd){ background-color:#AED6F1;}
tbody:nth-child(even){ background-color:#D1F2EB;}
th:nth-of-type(1) { float:left; font:message-box; padding:20px 10px 15px 15px; font-size:18px;}
th:nth-of-type(2) { float:right; color:blue; font:12px Arial;}
th:nth-of-type(3) { cursor:pointer; width: 3%;}
th:nth-of-type(4) { cursor:pointer; width: 3%;}
button,input,tr:hover {background-color: #FCF3CF;}
input, button { font:message-box; padding:15px; font-size:16px; margin:10px;}
